.attempts-table{
    margin: 0 auto;
    border-collapse:separate;
    border-spacing: 0 1em;
}

.attempt-cell{
    background-color: whitesmoke;
    height: 70px;
    width: 70px;
    border: 1px solid black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

td.letter-location-correct{
    background-color: forestgreen;
    animation: submit-transition 1s linear;
}

td.letter-present{
    background-color: goldenrod;
    animation: submit-transition 1s linear;

}



@keyframes submit-transition {
    0% {
        transform: rotateX(180deg);
        font-size: 0;
    }
    
}




